<!-- include header -->
<%- include('includes/_header')-%>

    <!-- feed (control panel) -->
    <div class="control-panel">
        <div class="container">
            <div class="box-nav d-flex jusify-between">
                <div class="filter">
                    <a href="/"><i class="fa-regular fa-circle-left"></i> All Users</a>
                </div>
            </div>
            <div class="form-title text-center">
                <h2 class="text-dark">New User</h2>
                <span class="text-light">Use the below form to create a new user</span>
            </div>

            <!-- form -->
            <%- include('includes/_new_user_form')-%>

        </div>
    </div>


<!-- footer -->
<%- include('includes/_footer')-%>
