
<!-- include header -->
<%- include('includes/_header')-%>

<div class="control-panel">
    <div class="container">
        <div class="box-nav d-flex jusify-between">
            <a href="/add-user" class="border-shadow">
                <span class="text-gradient">New User <i class="fa-solid fa-user-plus"></i></span>
            </a>
        </div>

        <!-- form -->
        <form action="/" method="POST">
            <table class="table">
                <thead class="thead-dark">
                    <tr>
                        <th>ID</th>
                        <th>Name</th>
                        <th>@Email</th>
                        <th>Gender</th>
                        <th>Status</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody>
                    <%- include('includes/_userstable')-%>

                </tbody>
            </table>
        </form>
        <!-- I passed a variable and used this ejs syntax to display it in the page -->
        <!-- <%= users[0].email%>  -->

    </div>
</div>


<!-- footer -->
<%- include('includes/_footer')-%>
